* {
    margin: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;

}


.starGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.starCard{
    
}