*{
    margin: 0;
    padding: 0;
}



.pokemonGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.scene {
    width: 200px;
    height: 260px;
    border: 1px solid rgb(207, 9, 9);
    margin: 10px; 
    perspective: 600px;
  }

  .frontImage{
      height: 200px;
      width: 200px;
  }